body .main{
	padding: 15px;
	background-color: blue;

}

h1 {
	text-decoration: underline;
	font-family: arial;
	color: darkblue;
	text-align: center;
	font-size: 26px;

}
h2 {
font-family: arial;
color: red;
font-size: 20px;
}
/*
.mainpicture {
	max-height: 280px;
	max-width: 1300px;
}*/

.picture {
	max-width: 780px;
	max-height: 2300x;
	align-items: center;
	padding-left: 300px;
}