body.main{
	padding: 15px;
	background-size: cover;
}
h220
	text-decoration: underline;
}
.avatar{
	max-height: 300px;
	max-width: 300px;

}
.krolik {
	max-height: 140px;
	max-height:185px;
}

/*login page*/

input {
	height: 45px;
    width:200px;
    font-style: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-family: arial;   
}
.login{
	background-image: url(PhotoMainPage/Avatar.jpg);
	background-size: cover;
}

.container {
	
 width: 250px;
 height: 166px;
 text-align: center;
 background-color: rgba(14,14,51,0.6);
 border-radius: 7px;
 margin: 0 auto;
 margin-top: 10px;
}
form{

}